<table>
  <tr>
    <th>Particulars</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let rowObj of ledgerRows">
    <ng-container *ngIf="rowObj">
      <td>{{rowObj.particulars | uppercase}}</td>
      <td>{{rowObj.amount}}</td>
      <td>{{rowObj.date | date}}</td>
      <td>
        <button (click)="editItem(rowObj)">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td>
        <button (click)="deleteItem(rowObj)">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      <input type="text" name="particulars" [(ngModel)]="newItem.particulars">
    </td>
    <td>
      <input type="text" [(ngModel)]="newItem.amount" name="amount">
    </td>
    <td>
      <input type="date" [(ngModel)]="newItem.date" name="date">
    </td>
    <td>
      <button (click)="addItem(newItem)">Add</button>
    </td>
  </tr>
</table>
<app-edit-modal></app-edit-modal>